### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### Build targets ###
target/
built/

### Fbas
avi
bosses
#config
docs
flyers
gameovers
icons
lang
recordings
records
roms
!roms/neogeo.zip
savestates
screenshots
shaders
d3dx9_43.dll
Fbas.exe
Fbas-x64.exe
FreeImage.dll
FreeImage64.dll
kailleraclient.dll
kailleraclient_en.dll
libburn.dll
libburn-x64.dll
official_kailleraclient.dll
open_kailleraclient_cn.dll
readme.txt
shufflefilter.dll
shufflefilter-x64.dll