### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### Build targets ###
target/
built/

### Fbas
avi
bosses
config
docs
flyers
gameovers
icons
lang
shaders
d3dx9_43.dll
Fbas.exe
FreeImage.dll
kailleraclient.dll
libburn.dll
official_kailleraclient.dll
open_kailleraclient_cn.dll
readme.txt
shufflefilter.dll